.judul{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(246, 228, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100%;
    margin: 40px;
}
.input {
    margin: 8px;
    text-align: justify;


}
